<ion-card>
  <img src="https://cdn.pandascore.co/images/team/image/128027/los_angeles_thieveslogo_profile.png"/>
  <ion-card-header class="header">
    <ion-card-title>Time: </ion-card-title>
    <ion-card-subtitle>País de Origem:</ion-card-subtitle>
  </ion-card-header>
  <ion-list>
    <ion-text class="equipe">Membros da Equipe:</ion-text>
    <ion-item > Nome do Jogador </ion-item>
    <ion-item > Nome do Jogador  </ion-item>
    <ion-item > Nome do Jogador  </ion-item>
    <ion-item > Nome do Jogador  </ion-item>
    <ion-item > Nome do Jogador  </ion-item>
  </ion-list> 
</ion-card>